/* 
    Created on : Jan 19, 2015, 10:22:45 PM
    Author     : pratyush
*/

.custom-jumbotron {
    background-color: #C3E1FF;
    margin: 5px;
    padding: 10px;
}

.large-font-1-2 {
    font-size: 1.2em;
}

.EpicEditorCustom {
    min-height: 500px;
    font-size: 1em;
    border-radius: 5px;
}

.EpicEditorCustom h1 {
    font-size: 1.5em;
}

.writer-bottom-menu {
    width: 100%;
    height: 50px;
    position: fixed;
    margin: 0px;
    padding: 5px;
    background-color: #444;
    bottom: 0px;
    border-top: 2px solid white;
    z-index: 2;
}

.post-list {
    margin: 5px;
    padding: 10px;
    border: solid 1px grey;
    border-radius: 5px;
}